@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list
{
    background: #fff url('ajax-loader.gif') center center no-repeat;
}

/* Arrows */
.slick-prev,
.slick-next
{
    z-index: 1;
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 42%;

    display: block;

    width: 61px;
    height: 60px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
    border-radius: 50px;
    box-shadow: 0 0 10px 7px #00000015;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: red;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: -32px;
}
[dir='rtl'] .slick-prev
{
    right: -32px;
    left: auto;
}
.slick-prev:before
{
    content: url(arrow.png);
}
[dir='rtl'] .slick-prev:before
{
    content: url(arrow-2.png);
}

.slick-next
{
    right: -32px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -32px;
}
.slick-next:before
{
    content: url(arrow-2.png);
}
[dir='rtl'] .slick-next:before
{
    content: url(arrow.png);
}


/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: -25px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 50px 0 0;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before   /*THIS*/
{
    font-family: 'slick';
    font-size: 200px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '.';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: 1;
    color: #ff4e2e;
}

@media (max-width: 1024px) {
.slick-dots li button:before {
    font-size: 170px;
    top: 237%;
}

}
@media (max-width: 800px) {
    .slick-dots
{
    margin: -55px auto;
    position: relative;
}

}

@media (max-width: 800px) {
.slick-dots li button:before {
    top: 65%;
}
}

@media (max-width: 320px) {
.slick-dots li button:before {
    font-size: 90px;
    top: 191%;
    left: 100%;
}
}