.breadcrumb-container {
	height: 25px;
	font-size: 10px;
}
.breadcrumb {
	padding: 8px 23px;
}
.container__headliner {
	margin-top: 30px;
	text-transform: uppercase;
}
.headliner__h1 {
	font-weight: 700;
	font-size: 30px;
}
.prev-container {
	width: 180px;
	height: 180px;
	position: relative;
	margin-top: 15px;
}
.mask {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #58c2b790;
	color: #fff;
	font-size: 91px;
	font-weight: 600;
}
.mask:hover{
	display: none;
}
.house-image {
	padding-right: 0;
}
.text-block {
	padding-left: 15px;
}
.house-description {
	background-color: #f2f2f2;
}
.house-description__h2 {
	margin-top: 28px;
	margin-bottom: 20px;
}
.house-description__item {
	margin-top: 15px;
	font-size: 18px;
	font-weight: 700;
	color: #969696;
}
.item--color {
	color: #66b8af;
}





.base-container {
	margin-top: 35px;
}
.mg-l-15 {
	margin-left: 15px;
}
.pd-r-0 {
	padding-right: 0;
}
.similar-plan {
	margin-top: 67px;
}
.similar-floors {
}
.card-house {
	height: 333px;
	margin-top: 38px;
	border-bottom: 2px solid gray;
}
.card {
	position: relative;
	max-width: 450px;
}
.side {
	background-color: #b1b1b1;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 12px;
	color: #fff;
	font-weight: 700;
	z-index: 10;
}
.side--A {
	width: 21px;
	height: 18px;
	border-radius: 0 0 10px 10px;
	background-color: #fcba61;
	position: absolute;
	top: 0;
	left: 49%;
}
.side--B {
	padding: 0 0 0 2px;
	width: 19px;
	height: 22px;
	border-radius: 10px 0 0 10px;
	position: absolute;
	top: 49%;
	right: 0;
}
.side--C {
	padding: 3px 0 0 0;
	width: 21px;
	height: 18px;
	border-radius: 10px 10px 0 0;
	position: absolute;
	bottom: 0;
	left: 49%;
}
.side--D {
	padding: 0 2px 0 0;
	width: 19px;
	height: 22px;
	border-radius: 0 10px 10px 0;
	position: absolute;
	top: 49%;
	left: 0;
}

.mirror-plan {
	width: 100%;
	height: 100%;
	margin-top: 31px;
}
.btn-container {
	margin-top: 10px;
	width: 100%;
}
.btn-rotate-left {

	background-image: url(/img/btn-rotate-left.png);
	background-size: cover;
	width: 25px;
	height: 25px;
	border-radius: 25px;
	border: none;
	z-index: 20;
}
.btn-rotate-right {

	background-image: url(/img/btn-rotate-right.png);
	background-size: cover;
	width: 25px;
	height: 25px;
	border-radius: 25px;
	border: none;
	margin: 0 6px 0 6px;
	z-index: 20;
}
.btn-reverse {

	background-image: url(/img/btn-scale.png);
	background-size: cover;
	width: 25px;
	height: 25px;
	border-radius: 25px;
	border: none;
	z-index: 20;
}
.flex {
	display: flex;
}
.f-column {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.j-center {
	display: flex;
	justify-content: center;
}

.tab {
	width: 100%;
	height: 57px;
	background-color: #f2f2f2;
	font-size: 27px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.tab a {

	text-decoration: none;
	color: #5dc1b7;
}

.tab-passive {
	width: 100%;
	height: 57px;
	background-color: #f2f2f2;
	color: #9a9a9a;
	font-size: 14px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.tab-passive__item {
	color: #5dc1b7;
}
.tab-passive__text--left {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.tab-active {
	width: 100%;
	height: 57px;
	background-color: #5dc1b7;
	color: #fff;
	font-size: 12px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
}
.tab-active--fs27 {
	width: 180px;
	height: 57px;
	background-color: #5dc1b7;
	color: #fff;
	font-size: 27px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;

}

.pd-r-29 {
	padding-right: 29px;
}
.pd-r-10 {
	padding-right: 10px;
}
.pd-l-1 {
	padding-left: 1px;
}
.pd-l-35 {
	padding-left: 35px;
}

.similar-block {
	padding-right: 30px;
}

.pos-fix {
	position: fixed;
	top: 0;
	right: 15px;
}

#fix-block {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.similar-floors__items {
	display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.items__row {
	width: 100%;
}
.mirror-plan2 {
	display: flex;
    flex-direction: column;
    align-items: flex-end;
}

@media (max-width: 1920px) {

.title--2 {
	padding-left: 0;
}


}

@media (max-width: 1720px) {

.title--2 {
	padding-left: 1%;
}


}

@media (max-width: 1620px) {

.title--2 {
	padding-left: 2%;
}


}

@media (max-width: 1420px) {

.title--2 {
	padding-left: 3%;
}


}

@media (max-width: 1340px) {

.title--2 {
	padding-left: 4%;
}
.house-description__item {
	font-size: 13px;
}


}

@media (max-width: 1240px) {

.title--2 {
	padding-left: 5%;
}
.house-description__h2 {
	font-size: 24px;
}
.house-description__item {
	font-size: 12px;
}


}

















/*IMAGE ZOOM — START*/
.ienlarger 
{
width: 180px;
height: 180px;
clear: none; 
padding-bottom: 5px;
padding-right: 5px;
}

.ienlarger 
{ 
display: block;
text-decoration: none;
}

.ienlarger:hover 
{ 
position: relative;
}

.ienlarger span img 
{
width: 200%;
border: 0px solid #FFFFFF;
margin-bottom: 5px;
}

.ienlarger  span
{	
position: absolute;
display: none;
color: #FFCC00;
text-decoration: none;
font-family: Arial, Helvetica, sans-serif;
font-size: 13px; 
background-color: #000000;
font-weight: bold;
padding-top: 0px;
padding-right: 0px;
padding-bottom: 0px;
padding-left: 0px;
}
.orig-size {

box-shadow: 0 0 20px 5px #abe0db;
}

.ienlarger .resize_thumb 
{ 
width: 100%;
height: 100%;
border-width: 0;
}
.ienlarger:hover span 
{ 
display: block;
width: 200px;
height: 200px;
top: 0px;
right: 100%;
z-index: 100;
}


.maincontainer 
{ 
width: 75%; 
margin: 15px auto; 
}
/*IMAGE ZOOM — END*/

@media (max-width: 1199px) {


html, body {
	overflow-x: hidden;
}

	#fix-block {
		display: none;
	}
.house-description {
	width: 100%;
}


.house-image {
	padding-left: 0;
}
.house-image img {
	padding-left: 0;
}
.container__headliner {
	margin-top: 0;
}
.headliner__h1 {
	margin-top: 23px;
	font-size: 21px;
}
.base-container {
	margin-top: 16px;
	margin-top: 0;
	padding-right: 17px;
}
.similar-plan {
	margin-top: 15px;
}
.tab {
	margin-bottom: 5px;
	height: 40px;
	font-size: 18px;
}
.tab-active {
	height: 40px;
	font-size: 9px;
}
.tab-passive {
	height: 85px;
	font-size: 12px;
}
.similar-details {
	    margin-left: 5%;
	    display: flex;
    justify-content: space-between;
}
.title--2 {
	padding-left: 15px;
}

}


@media (max-width: 855px) {
	.d-none--855 {
		display: none;
	}
}
@media (max-width: 799px) {
.similar-details {
	margin-left: 0;
	    padding-left: 10px;
}
.similar-block-left {
	padding-left: 0;
    padding-right: 0;
}
.similar-block-right {
	padding-left: 0;
}
}
@media (max-width: 600px) {
	.tab-active {
		font-size: 7px;
	}
}
@media (max-width: 620px) {

.container__headliner {
	display: none;
}
.tab {
	margin-bottom: 0;
	font-size: 11px;
}
.tab-active {
	font-size: 7px;
}
.tab-passive {
	font-size: 7px;
	height: 40px;
}
.items2 {
	margin-top: 20px;
	margin-left: 29px;
    padding-right: 26px;
}
.pd-r-0--320 {
	padding-right: 15px
}
.items__title {
	width: 100%;
	display: flex;
	margin-bottom: 15px;
}
.title--1 {
	width: 50%;
    text-align: center;
    padding-right: 7px;
}
.title--2 {
	width: 50%;
    padding-left: 7px;
}
.similar-details {
    flex-direction: column;
    align-items: center;
    justify-content: normal;
    flex-wrap: nowrap;
	padding-right: 25px;
}
.similar-block, .similar-block-left, .similar-block-right {
	padding: 0;
	width: 100%;
}
.card {
	width: 100%;
}
.card img {
	width: 100%;
}
.mirror-plan {
	display: flex;
    flex-direction: column;
    align-items: center;
}



}